<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <erudyte translate="label" module="Shipping">
            <label>Shipping Rules</label>
            <sort_order>100</sort_order>
        </erudyte>
    </tabs>
    <sections>
        <erudyte translate="label" module="Shipping">
            <label>Erudyte</label>
            <tab>erudyte</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <erudyte_group translate="label" module="Shipping">
                    <label>Shipping Rules</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <erudyte_input translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </erudyte_input>
                        <erudyte_select translate="label">
                            <label>Minimum Free Delivery</label>
                            <frontend_type>tet</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </erudyte_select>
                    </fields>
                </erudyte_group>
            </groups>
        </erudyte>
    </sections>
</config>